<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Online Graphics Editor</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <style>
      #messages {
        width: 40vw;
      }

      .alert {
        animation: fade2 1s 2s forwards;
      }

      @keyframes fade2 {
        0% {
          opacity: 1;
          visibility: visible;
        }
        99% {
          opacity: 0;
          visibility: hidden;
          position: relative;
        }
        100% {
          opacity: 0;
          position: fixed;
        }
      }
    </style>
</head>
<body>
    <div class="container mt-5">
        <h1 class="text-center">Online Graphics Editor</h1>
        <div id="messages" class="text-center fixed-top mx-auto pt-3"></div>
        <div class="text-center my-3">
            <input type="file" id="imageLoader" accept="image/*" onchange="uploadFile()">
        </div>
        <img id="preview" class="d-block mx-auto my-3" width="600" height="400">
        <div class="input-group mx-auto" style="max-width: fit-content;">
          <span class="input-group-text">Ширина, Высота</span>
          <input disabled id="infoWidth" type="number" class="form-control"  autocomplete="off">
          <input disabled id="infoHeight" type="number" class="form-control" autocomplete="off">
        </div>
        <button type="button" class="btn btn-success d-block my-3 mx-auto" onclick="downloadImage()">Скачать</button>

    <div class="accordion pb-5" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne">
              Изменить размер
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body col-5 mx-auto text-center">
                <form id="resizeForm" method="POST">
                  <div class="btn-group my-3" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="interpolation" id="interpolation1" autocomplete="off" value="auto" checked onchange="resize()">
                    <label class="btn btn-outline-primary" for="interpolation1">Авто</label>
                  
                    <input type="radio" class="btn-check" name="interpolation" id="interpolation2" autocomplete="off" value="cubic" onchange="resize()">
                    <label class="btn btn-outline-primary" for="interpolation2">Бикубическая</label>
                  
                    <input type="radio" class="btn-check" name="interpolation" id="interpolation3" autocomplete="off" value="area" onchange="resize()">
                    <label class="btn btn-outline-primary" for="interpolation3">По области</label>

                    <input type="radio" class="btn-check" name="interpolation" id="interpolation4" autocomplete="off" value="linear" onchange="resize()">
                    <label class="btn btn-outline-primary" for="interpolation4">Билинейная</label>
                  </div>
                  <div class="mx-auto">
                    <div class="input-group">
                        <span class="input-group-text">Высота и ширина</span>
                        <input name="height" id="resizeHeight" type="number" min=1 class="form-control" onchange="resize(1)">
                        <input name="width" id="resizeWidth" type="number" min=1 class="form-control" onchange="resize(1)">
                      </div>
                      <p class="text-muted my-3">Или</p>
                      <label for="resizeScale" class="form-label">Коэффициент масштабирования</label>
                      <div class="input-group mb-3">
                          <span class="input-group-text" id="inputGroup-sizing-default">x</span>
                          <input name="scale" id="resizeScale" type="number" class="form-control" aria-describedby="inputGroup-sizing-default" value="1.0" max="4" min="0.1" step="0.1" onchange="resize(0)">
                      </div>
                    </div>
                    <button type="button" class="btn btn-primary" onclick="submitChanges();">Подтвердить</button>
                    <button type="button" class="btn btn-danger" onclick="reeset();">Сброс</button>
                </form>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo">
              Обрезать
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body col-5 mx-auto text-center">
              <form id="cropForm">
                <div>
                  <label class="form-label">Координаты верхнего левого угла</label>
                  <div class="input-group">
                    <span class="input-group-text">X, Y</span>
                    <input name="X" id="cropX" type="number" min=1 class="form-control">
                    <input name="Y" id="cropY" type="number" min=1 class="form-control">
                  </div>
                </div>
                <div class="mb-3">
                  <label class="form-label">Размеры</label>
                  <div class="input-group">
                    <span class="input-group-text">Ширина, Высота</span>
                    <input name="width" id="cropXOffset" type="number" min=1 class="form-control">
                    <input name="height" id="cropYOffset" type="number" min=1 class="form-control">
                  </div>
                </div>
                <button type="button" class="btn btn-success" onclick="crop();">Применить</button>
                <button type="button" class="btn btn-primary" onclick="submitChanges();">Подтвердить</button>
                <button type="button" class="btn btn-danger" onclick="reeset();">Сброс</button>
              </form>
            </div>
          </div>
        </div>
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Зеркальное отображение
            </button>
          </h2>
          <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body mx-auto text-center">
              <p>Отразить по</p>
                <div class="btn-group-vertical" role="group">
                  <button type="button" class="btn btn-primary" onclick="mirror(1)">Вертикали</button>
                  <button type="button" class="btn btn-primary" onclick="mirror(0)">Горизонтали</button>
                  <button type="button" class="btn btn-primary" onclick="mirror(-1)">Обеим осям</button>
                </div>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour">
              Вращение
            </button>
          </h2>
          <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body col-5 mx-auto text-center">
                <form id="rotateForm" method="POST">
                  <div class="mx-auto mb-3">
                  <label class="form-label">Центр вращения</label>
                  <div class="input-group">
                        <span class="input-group-text">X,Y</span>
                        <input name="center_y" id="rotate_y" type="number" min=1 class="form-control">
                        <input name="center_x" id="rotate_x" type="number" min=1 class="form-control">
                      </div>
                    <label class="form-label">Угол вращения</label>
                    <input name="angle" id="rotateAngle" type="number" min=-360 max=360 class="form-control col-4">
                  </div>

                    <button type="button" class="btn btn-success" onclick="rotate();">Применить</button>
                </form>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive">
              Контраст, яркость
            </button>
          </h2>
          <div id="collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body col-5 mx-auto text-center">
                <form id="contrastForm" method="POST">
                  <div class="mx-auto mb-3">
                    <label class="form-label" for="contrast">Контраст</label>
                    <input type="range" class="form-range" name="contrast" id="contrastContrast" min="0.1" max="3" step="0.1" value="1" autocomplete="off" onchange="doContrast()">
                    <label class="form-label" for="contrast">Яркость</label>
                    <input type="range" class="form-range" name="brightness" id="contrastBrightness" min="-100" max="100" value="0" autocomplete="off" onchange="doContrast()">
                  </div>
                    <button type="button" class="btn btn-primary" onclick="submitChanges();">Подтвердить</button>
                    <button type="button" class="btn btn-danger" onclick="reeset();">Сброс</button>
                </form>
            </div>
          </div>
        </div>

        <div class="accordion-item">
          <h2 class="accordion-header">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSix">
              Цветовой баланс
            </button>
          </h2>
          <div id="collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body col-5 mx-auto text-center">
                <form id="colorForm" method="POST">
                  <div class="mx-auto mb-3">
                    <label class="form-label" for="contrast">Красный</label>
                    <input type="range" class="form-range" name="red" id="colorRed" min="-0.1" max="2" step="0.01" value="1" autocomplete="off" onchange="color()">
                    <label class="form-label" for="contrast">Зелёный</label>
                    <input type="range" class="form-range" name="green" id="colorGreen" min="-0.1" max="2" step="0.01" value="1" autocomplete="off" onchange="color()">
                    <label class="form-label" for="contrast">Синий</label>
                    <input type="range" class="form-range" name="blue" id="colorBlue" min="-0.1" max="2" step="0.01" value="1" autocomplete="off" onchange="color()">
                  </div>
                    <button type="button" class="btn btn-primary" onclick="submitChanges();">Подтвердить</button>
                    <button type="button" class="btn btn-danger" onclick="reeset();">Сброс</button>
                </form>
            </div>
          </div>
        </div>

      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>